#repeat_button {
    float: right;
    width: 16px;
    height: 11px;
    cursor: pointer;
    margin-top: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAhCAYAAADQ1StpAAACeUlEQVRIid1UTUhUURT+rt7nOBlhBvNy4YDhoqIWuahcpUtdBIW8dmrLgrcxEJfXRTA4BMEsZtFCc2m2KUSYzRtXtQkkiAoMyUGnG5aDko3v3tdpMVyZN86bZhXRgbs47zv3/Hzvuwdo0rLZLOXzeQIAIuLmO6sOaJTAsiwopZBMJjEyMmIxxjQAcHNZa92wA4PXxvFqx3GcyASLi4twHAe2bTMi4kIILoTQ3GQ1oLmwsbHR3tvbWza+lJISiYQFADMzM7BtWwFgrLYSAGQyGXJd9wgTQoQ6tW1baa3hui4LAcvLy7S+vo54PP5HUo21VDtaa3DO4fs+iAha68hj+Do2gpSSlpaWMDo62rByNV/HTErZVPt/1ybTOXqWe0cA4NWT8mQ617DtWFsLDv1fuHDuDPpu91tD1VKeTOdIBUHDDtTPCq50OC6kg6nxgcgEs09fYWp8AD3dncxziA8Kj+fFUOVhuKkVKhRLoRHmPGqv9gvFEpnZB4XHzch1/6WbWqHM9PARNii8UKf9HUqpIEBmejgs5SfP39Daxy84GbdqSFWRo4WkrHQAq7UV5cMARAQVBJHH8HVshEKxRI8WXuPB2PXIqgDQ090ZLeVaQv8N+4+lzICK8gxoLsx51H53iB1t5c3tEq28xWxMbY0xxrC1y872xc7HmpbyrSuXHurd91PXLvcg0dWBl6sfwLsuppqWst77jC25h8SNDgDA9td9JNs2J5qW8qGv4CuFxwurAABfKRyUVZjE+3eusigpr33ax87ON5SDygposywQPzVfl4NCsUS1WpdSUvZFMXXw4/sEYwzxE6fn793sno5+EHWsdt3bts1+A3jrjFHhidH4AAAAAElFTkSuQmCC);
}

.repeat_none {
    background-position: 0 0;
}

.repeat_all {
    background-position: 0 -11px;
}

.repeat_one {
    background-position: 0 -22px;
}